{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}
{% load mptt_tags %}
<div class="container my-4">
<h2 id="docommenthere">Drop Comment</h2>
<div id="commentsection">

  {% if user.is_authenticated %}
  <form id="commentform" method="post">
    {% csrf_token %}
    <div class="mb-3">
      {{ comment_form.content|as_crispy_field }}
      <input type="hidden" name="post_id" value="{{post.id}}">
    </div>
    <button type="submit" value="commentform" id="newcomment" class="btn btn-primary mb-5">Comment</button>
  </form>
  {% else %}
  <h4 class="my-4">Please <a href="{% url 'login' %}">Join</a> us to Comment</h4>

  {% endif %}


<h2>Comments</h2>
  <div class="card">
    <div class="card-body">
      {% if comments %}
      {% recursetree comments %}

      {% if node.level == 0 %}
      <div class="border p-2" id="{{ node.id }}">
        <div class="d-flex justify-content-between">
          <div>

            <i><b>{{node.name}}</b></i>
          </div>
          <div><small>{{node.publish|timesince}} ago</small></div>
        </div>
        <div id="{{node.id}}">{{ node.content }}</div>

        {% comment %} {{node.level}} {% endcomment %}
        <div class="text-right">
          <button type="button" class="btn btn-link btn-sm reply-button" id="{{ node.id }}">Reply</button>

          {% if node.name|stringformat:"s" == user.get_username %}
          <button class="btn btn-link btn-sm text-danger delete-button pr-0" id="{{ node.id }}">Delete</button>
          {% endif %}

        </div>
      </div>
      {% else %}

      <div class="border p-2 ml-2 ml-md-5" id="{{ node.id }}">
        <div class="d-flex justify-content-between">

          <div>
            <i><b>{{node.name}}</b> to <b>{{node.parent.name}}</b></i>
          </div>


          <div><small>{{node.publish|timesince}} ago</small></div>
        </div>
        <div id="{{node.id}}">{{ node.content }}</div>

        {% comment %} {{node.level}} {% endcomment %}
        <div class="text-right">
          <button type="button" class="btn btn-link btn-sm mb-1 reply-button" id="{{ node.id }}">Reply</button>

          {% if node.name|stringformat:"s" == user.get_username %}
          <button class="btn btn-link btn-sm text-danger delete-button pr-0" id="{{ node.id }}">Delete</button>
          {% endif %}

        </div>
      </div>

      {% endif %}


      {% if not node.is_leaf_node %}
      <div class="children " id="{{ node.id }}">
        {{ children }}
      </div>
      {% endif %}

      {% endrecursetree %}

      {% else %}
      <div class="text-center">
        <i class="text-muted">No comments so far, be the first commenter</i>
      </div>
      {% endif %}
    </div>
  </div>

</div>
</div>
{% endblock body %}

 {% block domready %}
// ajax comment

$(document).on('click','#newcomment, #newcommentinner',function(e){
    e.preventDefault();

    var button = $(this).attr("value");

    var placement = "commentform"
    if (button == "newcommentform") {
      var placement = "newcommentform"
    }

    $.ajax({
        type:'POST',
        url:'{% url "comment:add_post_comment"  %}',
        data: $("#" + button).serialize(),
        cache: false,
        success: function(json){
            
            $(`<div id="${json['node_id']}" class="my-2 p-2 border border-primary">
          <div class="d-flex justify-content-between">By ${json['user']}<div></div>Posted: Just now!</div>
          
          <div id="${json['node_id']}">${json['result']}</div>

          <div class="text-right">
                <button type="button" class="btn btn-link btn-sm mb-1 reply-button" id="${json['node_id']}">Reply</button>

                 
                 <button class="btn btn-link btn-sm text-danger delete-button" id="${json['node_id']}">Delete</button>
                
                </div>
          `).insertAfter('#' + placement);
          
          console.log(json);
          $("#commentsection").load(" #commentsection");
        },
        error: function(xhr, errmsg, err){}
    });
});


// delete comment

$(document).on('click','button.delete-button',function(){
    let cid=$(this).attr('id');
    console.log(cid);

    $.ajax({
      type: 'POST',
      url: '{% url "comment:add_post_comment"  %}',
      data: {
        nodeid: cid,
        action: 'delete',
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function (json) {
        console.log(json)
        $("#" + json['remove']).remove();
        $("#commentsection").load(" #commentsection");
      },
      error: function (xhr, errmsg, err) {}
    });

});

//comment reply
$(document).on('click','.reply-button', function(){
    
    //if (document.contains(document.getElementById("newForm"))) {
    //  document.getElementById("newForm").remove();
    //}


    let cid=document.getElementById(this.id);
    cid.insertAdjacentHTML('afterend', `
    {% if user.is_authenticated %}
    <form id="newcommentform"  class="form-insert py-2 mt-2" method="post"> 
    <i class="text-muted">reply</i>
              {% csrf_token %}
                <div class="mb-3">
                    <select name="parent" class="d-none" id="id_parentt"> \
                        <option value="${this.id}" selected="${this.id}"></option> \
                    </select>
                    {{ comment_form.content|as_crispy_field }}
                    <input type="hidden" name="post_id" value="{{post.id}}">
                </div>
              <button type="submit" value="newcommentform" id="newcommentinner" class="btn btn-primary">Comment</button>
              <button type="button" class="btn btn-link" onclick="$(this).parent().hide(); $('button.reply-button').show();">Cancel</button>
              </form> {% else %}
                <p class="my-4 border">Please <a href="{% url 'login' %}">Join</a> us to Comment</p>
            {% endif %}`);

            $(this).hide();
})


$('.commentform').trigger("reset");

{% endblock domready %}}